# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# emacs auto gen files
Emacs/EmacsDotFile/emacs.d/auto-save-list/*
Emacs/EmacsDotFile/emacs.d/elpa/*
*.dat
Emacs/EmacsDotFile/emacs.d/auto-complete/*
Emacs/EmacsDotFile/emacs.d/yasnippet/*